.leggTilHeader {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hjelpeTekst {
    margin-top: 1rem;
}
.nyAktivitetTittel {
    display: flex;
    justify-content: flex-start;
}
.tittelBoks {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.etikett {
    color: #78706a;
    margin-right: 0;
    padding-right: 0;
}
.etikettBruker {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.lenker {
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.deleLinje {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
