.aktivitetsplanfs .dropdown {
    position: relative;
    margin-bottom: 0.5rem;
}
.aktivitetsplanfs .dropdown__btnwrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}
.aktivitetsplanfs .dropdown__btn {
    text-align: left;
    width: 100%;
    padding: 0.7rem 3rem 0.7rem 2rem;
    background: #fff;
    border: 1px solid #6a6a6a;
    border-radius: 2px;
    white-space: nowrap;
}
.aktivitetsplanfs .dropdown__btn:before {
    pointer-events: none;
    content: '';
    background: #262626;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 1.75rem;
    top: 1.45rem;
    position: absolute;
    transform: translateX(3px) rotate(-45deg);
    transition: transform 0.3s;
}
.aktivitetsplanfs .dropdown__btn:after {
    pointer-events: none;
    content: '';
    background: #262626;
    height: 2px;
    width: 10px;
    border-radius: 10px;
    right: 1.75rem;
    top: 1.45rem;
    position: absolute;
    transform: translateX(-3px) rotate(45deg);
    transition: transform 0.3s;
}
.aktivitetsplanfs .dropdown__btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}
.aktivitetsplanfs .dropdown__innhold {
    position: absolute;
    z-index: 110;
    border: 1px solid #6a6a6a;
    top: calc(100% - 1px);
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    width: 100%;
}
.aktivitetsplanfs .dropdown--apen .dropdown__btnwrapper:after,
.aktivitetsplanfs .dropdown--apen .dropdown__btnwrapper:before {
    z-index: 200;
}
.aktivitetsplanfs .dropdown--apen .dropdown__btn {
    position: relative;
    z-index: 120;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #fff;
}
.aktivitetsplanfs .dropdown--apen .dropdown__btn:before {
    transform: translateX(3px) rotate(45deg);
    transition: transform 0.3s;
}
.aktivitetsplanfs .dropdown--apen .dropdown__btn:after {
    transform: translateX(-3px) rotate(-45deg);
    transition: transform 0.3s;
}
.aktivitetsplanfs .dropdown--alignright .dropdown__innhold {
    right: 0;
    border-radius: 2px 0 2px 2px;
}
.aktivitetsplanfs .dropdown .knapperad {
    padding: 0;
}
.aktivitetsplanfs .dropdown .knapperad--alignleft {
    padding-left: 0.5rem;
}
