.underseksjon {
    padding: 0 1rem;
    margin: 1rem 0;
}
@media (min-width: 992px) {
    .underseksjon {
        padding: 0 2rem;
    }
}
@media (min-width: 768px) {
    .underseksjon .col-xs-4 {
        float: left;
        width: 33.33%;
    }
}
