.aktivitetvisning {
    max-width: 40rem;
    margin: 0 auto;
}
.aktivitetvisning > .feilmelding {
    margin-top: 1rem;
    padding: 0 2rem;
}
.aktivitetvisning__underseksjon {
    padding: 0 1rem;
    margin: 1rem 0;
}
.aktivitetvisning__underseksjon .typo-sidetittel {
    margin: 1.2rem 0;
    line-height: 1.1;
}
.aktivitetvisning__underseksjon .typo-undertekst {
    text-transform: uppercase;
}
.aktivitetvisning__underseksjon .col-xs-4 {
    float: none;
    width: 100%;
}
.aktivitetvisning__underseksjon .skjemaelement__label img {
    width: 14px;
    height: 20px;
    margin: -2px 0 0 0.3rem;
}
.aktivitetvisning .oppdater-status {
    margin-top: 0.5rem;
}
.aktivitetvisning__detaljer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 32rem;
    width: 100%;
}
.aktivitetvisning .typo-undertittel {
    margin: 1.1rem 0 1rem;
}
.aktivitetvisning .tilDittNavTekst {
    white-space: pre-wrap;
}
.aktivitetvisning .aktivitetsbeskrivelse {
    margin-bottom: 20px;
    margin-right: 2rem;
}
.aktivitetvisning .aktivitetsbeskrivelse__tittel {
    color: #6a6a6a;
}
.aktivitetvisning .aktivitetsbeskrivelse__tekst {
    white-space: pre-wrap;
}
.aktivitetvisning .aktivitetsdetaljer {
    margin-bottom: 20px;
}
.aktivitetvisning__delelinje {
    margin-top: 0;
    color: #a0a0a0;
}
.aktivitetvisning__historikk {
    margin-bottom: 2rem;
}
.aktivitetvisning__historikk .endringslogg-for-aktivitet__lenke-knapp {
    margin-bottom: 2rem;
    display: inline-block;
}
.aktivitetvisning__historikk .endringslogg-for-aktivitet__innslag {
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .aktivitetvisning .endreknapp {
        margin-left: 20px;
    }
}
@media (min-width: 992px) {
    .aktivitetvisning__detaljer {
        width: 32rem;
    }
    .aktivitetvisning .endreknapp {
        margin-left: 29px;
        margin-right: -13px;
    }
}
.avtalt-container {
    margin: 1rem 0;
}
.avtalt-container__vis-avtalt {
    display: flex;
    align-items: center;
}
.avtalt-container .alertstripe--info {
    margin-bottom: 1rem;
}
.avtalt-container .alertstripe--info:first-child {
    margin-top: 1rem;
}
.aktivitetingress {
    margin-bottom: 2rem;
}
.aktivitetingress__tekst {
    white-space: pre-wrap;
    margin: -0.4rem 0;
}
.detaljfelt {
    margin-bottom: 20px;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 9rem;
}
@media (min-width: 992px) {
    .detaljfelt {
        flex: 0 0 13rem;
        margin-right: 2rem;
    }
}
.detaljfelt__tittel {
    color: #6a6a6a;
    text-transform: uppercase;
}
.detaljfelt__lenke {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.detaljfelt__tekst p {
    margin: 0.3rem 0;
}
.detaljfelt--fullbredde {
    flex: 1 0 auto;
    width: 100%;
}
.detaljfelt--beskrivelse {
    flex: auto;
    min-width: 13rem;
    overflow-wrap: break-word;
}
.varsling-boks {
    margin-top: 1rem;
}
.oppdater-referat textarea {
    margin-bottom: 1rem;
}
.oppdater-referat button {
    margin-right: 1rem;
}
.oppdater-referat__referat {
    margin: -0.4rem 0 1.6rem;
}
.oppdater-referat .oppdater-referat-knapper {
    display: flex;
}
.oppdater-referat .oppdater-referat-status {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1.5rem 0 0;
}
.oppdater-referat .oppdater-referat-status .alertstripe__ikon {
    margin-right: 0.5rem;
}
.oppdater-referat .oppdater-referat-status .alertstripe__tekst {
    font-weight: bold;
}
