@modal-innhold-padding: 1rem 2rem;

.modal-container {
    .varselmodal {
        padding: @modal-innhold-padding;
    }

    .aktivitetskjema {
        padding: @modal-innhold-padding;

        &__redigering-header {
            display: flex;
        }

        &__header {
            margin-bottom: 4rem;

            .skjema-header__pakrevd-info {
                align-self: flex-end;
                float: right;
            }

            .typo-innholdstittel {
                margin: 0.5rem 0 1.2rem;
            }
        }

        &__datofelt-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__datofelt,
        .datovelger {
            font-size: 1rem;
        }
    }
}
