.innstillinger {
    .modal-footer {
        button:nth-of-type(1) {
            margin-right: 1rem;
        }
    }
}

.innstillinger__container {
    margin-top: 1rem;
    .blokk-s();
}

.innstillinger__spinner {
    margin: 0 auto;
}

.innstillinger__overskrift {
    padding: 0 1rem;
    .blokk-s();
}

.innstillinger__delelinje {
    .blokk-m();
    color: @color-hr;
}

.innstillinger__prosess {
    padding: 0 1rem 1rem;
    .blokk-s();

    .prosess_overskrift {
        .blokk-xxs();
    }

    &.prosess {
        border-bottom: 1px solid @navGra40;
    }
}

.innstillinger__historikk {
    padding: 0 1rem 1rem;
}

.innstillinger__historikk-tittel {
    .blokk-xxs();
}

.historikk__innslag {
    .blokk-s();

    .innslag__header,
    .innslag__begrunnelse {
        .blokk-xxxs();
    }
}

.instillinger__historikk-spinner {
    margin: 0 auto;
}

.whitespace {
    white-space: pre;
}

@media (min-width: @screen-md-min) {
    .innstillinger__overskrift {
        padding: 0 2rem;
    }

    .innstillinger__prosess,
    .innstillinger__historikk {
        padding: 0 2rem 1rem;
    }
}
