@import '../../variables';

.underelement-knapp(@image) {
  background: data-uri('@{aktivitetsplanPath}/modal/visning/@{image}') no-repeat left;
  background-size: 1rem;
  background-position-x: 1rem;
}

.underelementer-aktivitet {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tall-alert {
    margin-left: 0.2rem;
  }

  &__toggle {
    .blokk-m();
  }

  &__dialog-knapp {
    padding-left: 2.5rem;
    .underelement-knapp('dialog-regular.svg');

    &--aktiv {
      .underelement-knapp('dialog-aktiv.svg');
    }

    &:hover {
      .underelement-knapp('dialog-hover.svg');
    }
  }

  &__historikk-knapp {
    padding-left: 2.5rem;
    .underelement-knapp('historikk-regular.svg');

    &--aktiv {
      .underelement-knapp('historikk-aktiv.svg');
    }

    &:hover {
      .underelement-knapp('historikk-hover.svg');
    }
  }

  &__historikkvisning {
    align-self: baseline;
  }

  &__dialogvisning {
    align-self: baseline;
    width: 100%;
  }
}
