.knappelenke {
  color: @navBla;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 0 2rem;

  &:focus {
    outline: none;
    background-color: @fokusOrange;

    span {
      border-bottom-color: @fokusOrange;
    }
  }

  span {
    display: inline-block;
    border-bottom: 1px solid @navGra40;
  }
}
