.aktivitetsplanfs .knappelenke {
    color: var(--bla);
    border: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.aktivitetsplanfs .knappelenke:focus {
    outline: none;
    background-color: #00347d;
    color: var(--white);
}
.aktivitetsplanfs .knappelenke:focus span {
    border-bottom-color: #00347d;
}
.aktivitetsplanfs .knappelenke:hover span {
    border-bottom-color: var(--bla);
}
.aktivitetsplanfs .knappelenke span {
    display: inline-block;
    border-bottom: 1px solid var(--gray-foreground);
}
