@import '../../variables';

@knapp-storrelse: 32px;

.pil-knapp {
    .knapp;
    height: @knapp-storrelse;
    width: @knapp-storrelse;
    padding: 0;
    border: 0;
    background: data-uri('./pil.svg');
    background-size: @knapp-storrelse;

    &:hover,
    &:active,
    &:active:hover {
        border: 0;
        background: transparent data-uri('./pil-hover.svg');
        background-size: @knapp-storrelse;
    }
}
