@import "./../../variables";

.tilbakeknapp {
  text-decoration: none;
  .tilbakeknapp-innhold {
    border-bottom: 0 !important;
    .lenke();
    .chevronboks {
      top: -5px;
      margin-right: 0.75rem;
    }
    &__tekst {
      text-decoration: none;
      .lenke();
    }
  }

  &:focus {
    outline: none;
    .tilbakeknapp-innhold__tekst {
      background: @orange-focus;
    }
  }
}

