.etikett {
  font-size: 80%;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 2px;

  &--ok {
    background-color: @color-ok;
  }
  &--varsling {
    background-color: @color-varsling;
  }
  &--info {
    background-color: @color-info;
  }
}
