@knapp-storrelse: 42px;
@fullDesktop: 1480px;

.tavle {
    .tavle__scrollknapp {
        display: none;
    }

    .kolonner {
        display: block;
        padding-bottom: 2rem;
    }
}

@media (min-width: @screen-sm-min) {
    .tavle {
        .knapp-forrige {
            margin-right: 3rem;
            margin-left: 1rem;
        }

        .knapp-neste {
            margin-left: 3rem;
            margin-right: 1rem;
            transform: rotate(180deg);

            &:hover,
            &:disabled,
            &:hover:disabled {
                transform: rotate(180deg);
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .tavle {
        display: flex;
        justify-content: space-around;

        .kolonner {
            display: flex;
            justify-content: space-between;
            transition: margin 0.2s ease-in-out;
            margin-bottom: 0;
            overflow: hidden;
        }

        .tavle__scrollknapp {
            display: block;
            height: @knapp-storrelse;
            width: @knapp-storrelse;
            padding: calc(@knapp-storrelse / 2);
            border: 0;
            background-size: contain;
            background: data-uri(
                    '@{aktivitetsplanPath}/sider/hovedside/tavle/pil.svg'
                )
                no-repeat;

            &:hover,
            &:active,
            &:active:hover {
                border: 0;
                background: transparent
                    data-uri(
                        '@{aktivitetsplanPath}/sider/hovedside/tavle/pil-hover.svg'
                    )
                    no-repeat;
            }
        }

        .tavle-kolonne {
            min-width: 31.3%;
            margin: 1%;
        }
    }
}

@media (min-width: @fullDesktop) {
    .tavle {
        .tavle__scrollknapp {
            .hidden();
        }

        .tavle-kolonne {
            min-width: 18%;
        }
    }
}
