@import "../../../variables";

@tavle-min-width: 48rem;
@knapp-storrelse: 42px;
@planbredde: 1713px;

.tavle {
  display: flex;
  justify-content: space-around;
  width: 100vw;

  .tavle__scrollknapp {
    .knapp;
    height: @knapp-storrelse;
    width: @knapp-storrelse;
    padding: calc(@knapp-storrelse / 2);
    border: none;
    background-size: contain;
    background: url("./pil.svg") no-repeat;

    &:hover, &:active, &:active:hover  {
      border: none;
      background: transparent url("./pil-hover.svg") no-repeat;
    }

  }
    @media (min-width: @planbredde) {
      justify-content: center;
      .tavle__scrollknapp {
        .hidden();
      }
      .kolonner {
        justify-content: center;
      }
    }

  .knapp-forrige {
    margin-right: 3rem;
    margin-left: 1rem;
  }

  .knapp-neste {
    margin-left: 3rem;
    margin-right: 1rem;
    transform: rotate(180deg);

    &:hover, &:disabled, &:hover:disabled {
      transform: rotate(180deg);
    }
  }

  @media (max-width: @tavle-min-width) {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    .knapp-tavle {
      display: none;
    }
  }

  .kolonner {
    display: inline-block;
    padding-bottom: 2rem;

    // tavle for desktop
    @media (min-width: @tavle-min-width) {
      max-width: none;
      display: flex;
      transition: margin 0.2s ease-in-out;
      margin-bottom: 0;

      .tavle-kolonne:not(:last-child) {
        margin-right: 35px;
      }
    }

    // liste for mobil
    @media (max-width: @tavle-min-width) {
      justify-content: center;

      .tavle-kolonne {
        margin: 10px;
      }
    }
  }
}
