@import '../variables';

.dialoger {
  &__markering {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @bla;
    width: 8px;
  }

  &__slash {
    display: inline;

    &::after {
      content: ' / ';
    }
  }

  &__dialog {
    margin: 0;
    padding-left: 3rem;
    border-radius: 0;
    text-decoration: none;
    border-top: 1px solid @gray-foreground;
    min-width: 316px;

    &:focus {
      outline: none;
      border: 0.2rem solid @orange-focus;
      padding: 0.8rem 0.8rem 0.8rem 2.8rem;
      box-shadow: none;
    }

    &:hover {
      text-decoration: none;
    }

    &-etiketter {
      min-height: 1.3rem; // alltid reserver plass slik at dialogene blir like høye
      margin-top: 0.3rem;
      font-size: 75%;
    }

    &-tekst {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }

    &-henvendelser {
      position: absolute;
      top: 50%;
      line-height: 0;
      right: 40px;
    }

    .lenkepanel__heading {
      width: calc(~'100% - 3rem');
    }

    // fjerne lenkepanel sin hover-styling
    &:hover {
      cursor: auto;

      .lenkepanel__heading {
        text-decoration: none;
      }
    }

    &--valgt {
      border: 0.2rem solid @bla;
      padding: 0.8rem 0.8rem 0.8rem 2.8rem;
    }
  }
}
