@import '../variables';

.dialoger {
    &__markering {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: @bla;
        width: 8px;
    }

    &__slash {
        display: inline;

        &::after {
            content: ' / ';
        }
    }

    &__dialog {
        padding: 0.7rem 1rem 1rem 2rem;
        margin-bottom: 0;
        border-radius: 0;
        text-decoration: none;
        border: 3px solid @white;
        border-bottom: 4px solid @gray-background;

        &:first-child {
            margin-top: 0;
        }

        &.lenkepanel {
            .lenkepanel__indikator {
                transition: none;
                margin-top: 8px;
                width: 16px;
            }
        }

        &-etiketter {
            min-height: 1.3rem; // alltid reserver plass slik at dialogene blir like høye
            margin-top: 0.3rem;
            font-size: 75%;
        }

        &-tekst {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }

        &-henvendelser {
            position: absolute;
            top: 50%;
            line-height: 0;
            right: 35px;
            font-size: 1rem;
        }

        .lenkepanel__heading {
            width: calc(~'100% - 2.5rem');
        }

        // fjerne lenkepanel sin hover-styling
        &:hover {
            .typo-normal,
            .typo-element,
            .typo-undertekst,
            .lenkepanel__indikator,
            .dialoger__dialog-henvendelser {
                color: @navBla;
            }

            .lenkepanel__heading {
                text-decoration: none;
            }
        }

        &:focus {
            box-shadow: none;
            border: 3px solid @orange-focus;
            border-bottom-width: 4px;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &--valgt {
            background-color: @gray-background;
            border: 3px solid @gray-background;
            border-bottom-width: 4px;
        }
    }
}

.lukknapp--overstHjorne {
    margin-right: 0.1rem;
}
