@import '../variables';
@import './dialoger';

@padding: 1.2rem 1rem 1.4rem 1.5rem;
@animationTime: 300ms;
@bredde-skjerm-dialoger: 20%;
@bredde-skjerm-dialog: 40%;
@full-bredde-skjerm-modal: @bredde-skjerm-dialoger + @bredde-skjerm-dialog;

.dialog-modal {
    position: fixed;
    min-width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;

    &--vis {
        border-radius: 0;
    }

    &--full-bredde {
        border-radius: 0;
    }

    &__tittel {
        margin-right: 40px;
    }

    &__content {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__header {
        border-bottom: 1px solid @gray-foreground;
        padding: @padding;
        display: flex;
    }

    &__tilbake-knapp {
        margin-right: 1rem;
    }

    &__innhold {
        display: block;
        height: 100%;
        overflow: hidden;
    }

    &__ny-dialog {
        padding: @padding;
        border-bottom: 1px solid @gray-foreground;
    }

    &__ny-dialog-knapp {
        border: 0;
        background: data-uri(
                '@{aktivitetsplanPath}/dialog/dialog-modal-ny-henvendelse.svg'
            )
            no-repeat;
        background-size: contain;

        &.knappelenke {
            padding-left: 2rem;
        }
    }

    &__dialoger {
        overflow-y: auto;
        height: ~'calc(100% - 66px)';
    }

    &__kolonne {
        display: inline-block;
        float: left;
        height: 100%;

        &--dialog {
            width: 100%;
            padding: 1rem;
            background-color: @gray-background;
            overflow-y: auto;

            &:focus {
                outline: none;
                border: 3px solid @fokusOrange;
                padding: ~'calc(2rem - 3px)';
            }
        }

        &--dialoger {
            width: 100%;
            background-color: white;
            z-index: 1;

            &-valgt-dialog {
                display: none;
            }
        }
    }

    &__tilbake-knapp {
        &.pil-knapp {
            height: 36px;
            background-size: 36px;
        }
    }
}

@media (min-width: @screen-md-min) {
    .dialog-modal {
        width: @bredde-skjerm-dialoger;
        min-width: inherit;
        height: 75%;
        left: -100%;

        &.ReactModal__Content {
            min-height: inherit;
        }

        &--vis {
            left: 0;
            border-top-right-radius: 4px;
        }

        &--full-bredde {
            width: @full-bredde-skjerm-modal;
            min-width: @mobil-bredde;
            border-top-right-radius: 4px;
        }

        &__ny-dialog-knapp {
            background: none;

            &.knappelenke {
                padding-left: 0;
            }
        }

        &__kolonne {
            &--dialoger {
                &-valgt-dialog {
                    display: inline-block;
                    width: 33.33333%;
                }
            }

            &--dialog {
                width: percentage(
                    @bredde-skjerm-dialog / @full-bredde-skjerm-modal
                );
            }
        }

        &__tilbake-knapp {
            &.pil-knapp {
                display: none;
            }
        }
    }
}
