.aktivitetsplanfs .detaljfelt {
    margin-bottom: 20px;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 9rem;
}
@media (min-width: 992px) {
    .aktivitetsplanfs .detaljfelt {
        flex: 0 0 13rem;
        margin-right: 2rem;
    }
}
.aktivitetsplanfs .detaljfelt__tittel {
    color: var(--grey-inactive);
    text-transform: uppercase;
}
.aktivitetsplanfs .detaljfelt__lenke {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.aktivitetsplanfs .detaljfelt__tekst p {
    margin: 0.3rem 0;
}
.aktivitetsplanfs .detaljfelt--fullbredde {
    flex: 1 0 auto;
    width: 100%;
}
.aktivitetsplanfs .detaljfelt--beskrivelse {
    flex: auto;
    min-width: 13rem;
    overflow-wrap: break-word;
}
