.navAnsattTekst {
    text-align: right;
    color: var(--grey-inactive);
}
@media (min-width: 992px) {
    .navAnsattTekst {
        min-width: 8rem;
    }
}
.navAnsattChildren {
    width: 100%;
}
.navAnsattContainer {
    display: flex;
}
