.aktivitetsplanfs .filter {
    margin-bottom: 0.5rem;
}
.aktivitetsplanfs .filter__innhold {
    width: 400px;
}
.aktivitetsplanfs .filter__container {
    display: block;
    padding: 2rem 2rem 0 2rem;
}
.aktivitetsplanfs .filter__overskrift {
    margin: 1rem 0;
}
.aktivitetsplanfs .filter__tittel {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}
.aktivitetsplanfs .skjult {
    visibility: hidden;
}
.aktivitetsplanfs .verktoylinje .filter {
    margin-left: 0;
}
.aktivitetsplanfs .periode-filter-dropdown__innhold {
    top: 2.6rem;
}
.aktivitetsplanfs .periode-filter-dropdown__innhold .filter__radio--periode label {
    white-space: nowrap;
}
.aktivitetsplanfs .filter-dropdown__innhold .skjemaelement__label {
    white-space: nowrap;
}
@media (min-width: 768px) {
    .aktivitetsplanfs .periode-filter-dropdown__innhold {
        padding-right: 1rem;
    }
    .aktivitetsplanfs .filter-dropdown__innhold {
        width: auto;
    }
    .aktivitetsplanfs .filter-dropdown__innhold .filter {
        margin-left: 1rem;
    }
    .aktivitetsplanfs .filter-dropdown__innhold .filter:last-child {
        margin-left: 0.5rem;
    }
    .aktivitetsplanfs .filter {
        width: auto;
    }
    .aktivitetsplanfs .filter__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding: 1rem 1rem 0 1rem;
    }
}
