@import 'src/moduler/filtrering/filteringslabel/FiltreringLabel';
@import '../../variables';


.skjult {
    visibility: hidden;
}

.verktoylinje .filter {
    margin-left: 0;
}

.periode-filter-dropdown__innhold {
    top: 2.6rem;

    .filter__radio--periode label {
        white-space: nowrap;
    }
}

.filter-dropdown__innhold {
    .skjemaelement__label {
        white-space: nowrap;
    }
}

@media (min-width: @screen-sm-min) {
    .periode-filter-dropdown__innhold {
        padding-right: 1rem;
    }

    .filter-dropdown__innhold {
        width: auto;

        .filter {
            margin-left: 1rem;

            &:last-child {
                margin-left: 0.5rem;
            }
        }
    }

    .filter {
        width: auto;
        margin-bottom: 0;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            padding: 1rem 1rem 0 1rem;
        }
    }
}
