.navGronnLighten60 {
    background-color: #99dead;
}
.navLysBlaLighten60 {
    background-color: #b5f1ff;
}
.navOransjeLighten60 {
    background-color: #ffd799;
}
.navGra20 {
    background-color: #c9c9c9;
}
