.navGronnLighten60 {
    background-color: var(--a-green-200);
}

.navLysBlaLighten60 {
    background-color: var(--a-blue-200);
}

.navOransjeLighten60 {
    background-color: var(--a-orange-200);
}

.gray200 {
    background-color: var(--a-gray-200);
}
