@import '~nav-frontend-core/less/_variabler';

.soknadSendt,
.venter {
    background-color: @navGronnLighten60;
}

.innkaltTilIntervju,
.skalPaaIntervju {
    background-color: @navLysBlaLighten60;
}

.jobbtilbud {
    background-color: @navOransjeLighten60;
}

.avslag {
    background-color: @navGra20;
}

.ikkeStartet {
    background-color: @navGra20;
}
