.aktivitetsplanfs .ekspanderbartPanel {
    position: relative;
    background: white;
    border-radius: 0.25rem;
}
.aktivitetsplanfs .ekspanderbartPanel:hover,
.aktivitetsplanfs .ekspanderbartPanel--hover {
    box-shadow: #a0a0a0 0 2px 1px 0;
}
.aktivitetsplanfs .ekspanderbartPanel:focus,
.aktivitetsplanfs .ekspanderbartPanel--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.aktivitetsplanfs .ekspanderbartPanel__hode {
    background-color: #fff;
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
    background: transparent;
    border: 0;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}
.aktivitetsplanfs .ekspanderbartPanel__hode .ekspanderbartPanel__tittel {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
    color: #262626;
}
.aktivitetsplanfs .ekspanderbartPanel__hode:hover,
.aktivitetsplanfs .ekspanderbartPanel__hode--hover {
    cursor: pointer;
}
.aktivitetsplanfs .ekspanderbartPanel__hode:hover .ekspanderbartPanel__tittel,
.aktivitetsplanfs .ekspanderbartPanel__hode--hover .ekspanderbartPanel__tittel {
    text-decoration: underline;
    color: #0067c5;
}
.aktivitetsplanfs .ekspanderbartPanel__hode:focus,
.aktivitetsplanfs .ekspanderbartPanel__hode--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.aktivitetsplanfs .ekspanderbartPanel__flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aktivitetsplanfs .ekspanderbartPanel__innhold {
    padding: 1rem;
    padding-top: 0.5rem;
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before,
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
    transition: 200ms transform;
    border-radius: 10px;
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::before {
    transform: translateX(2px) rotate(45deg);
}
.aktivitetsplanfs .ekspanderbartPanel--lukket .ekspanderbartPanel__indikator::after {
    transform: translateX(-2px) rotate(-45deg);
}
.aktivitetsplanfs .ekspanderbartPanel--border {
    border: 1px solid #6a6a6a;
}
.aktivitetsplanfs .ekspanderbartPanel--border:hover,
.aktivitetsplanfs .ekspanderbartPanel--border.panel-interaktiv-mixin--hover {
    border: 1px solid #0067c5;
}
.aktivitetsplanfs .ekspanderbartPanel--border.ekspanderbartPanel--apen {
    border: 1px solid #6a6a6a;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.aktivitetsplanfs .ekspanderbartPanel--apen .ekspanderbartPanel__innhold {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before,
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
    transition: 200ms transform;
    border-radius: 10px;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::before {
    transform: translateX(2px) rotate(-45deg);
}
.aktivitetsplanfs .ekspanderbartPanel--apen > .ekspanderbartPanel__hode .ekspanderbartPanel__indikator::after {
    transform: translateX(-2px) rotate(45deg);
}
