.aktivitetsplanfs .knappmini-mixin {
    padding: calc(0.25rem - 1px) 1.5rem calc(0.25rem - 1px) 1.5rem;
    min-height: 2rem;
}
.aktivitetsplanfs .knappdisabled-mixin:disabled,
.aktivitetsplanfs .knappdisabled-mixin--disabled {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
    color: #fff;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
}
.aktivitetsplanfs .knappdisabled-mixin:disabled::after,
.aktivitetsplanfs .knappdisabled-mixin--disabled::after {
    display: none;
}
.aktivitetsplanfs .knappdisabled-mixin:disabled:hover,
.aktivitetsplanfs .knappdisabled-mixin--disabled:hover,
.aktivitetsplanfs .knappdisabled-mixin:disabled:focus,
.aktivitetsplanfs .knappdisabled-mixin--disabled:focus {
    box-shadow: none;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
    color: #fff;
}
.aktivitetsplanfs .knapp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
    white-space: nowrap;
    border-radius: 0.125em;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.0625em;
    line-height: 1.375rem;
    text-decoration: none;
    background-color: #fff;
    padding: calc(0.475rem - 1px) 2.5rem calc(0.525rem - 1px) 2.5rem;
    min-height: 2.5rem;
    vertical-align: middle;
    border: 2px solid #0067c5;
    color: #0067c5;
}
.aktivitetsplanfs .knapp:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}
.aktivitetsplanfs .knapp:hover {
    background-color: #0067c5;
    color: #fff;
}
.aktivitetsplanfs .knapp:active {
    background-color: #005b82;
    border-color: #005b82;
    color: #fff;
}
.aktivitetsplanfs .knapp:disabled,
.aktivitetsplanfs .knapp-knapp-disabled {
    background-color: #a0a0a0;
    border-color: #a0a0a0;
    color: #fff;
    box-shadow: none;
    transform: none;
    cursor: not-allowed;
}
.aktivitetsplanfs .knapp:disabled::after,
.aktivitetsplanfs .knapp--disabled::after {
    display: none;
}
.aktivitetsplanfs .knapp:disabled:hover,
.aktivitetsplanfs .knapp--disabled:hover,
.aktivitetsplanfs .knapp:disabled:focus,
.aktivitetsplanfs .knapp--disabled:focus {
    box-shadow: none;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
    color: #fff;
}
.aktivitetsplanfs .knapp .knapp__spinner {
    border: 2px solid #0067c5;
    border-left-color: #99c3ff;
    border-bottom-color: #99c3ff;
}
.aktivitetsplanfs .knapp:hover .knapp__spinner {
    border-top-color: #fff;
    border-right-color: #fff;
}
.aktivitetsplanfs .knapp.knapp--hoved:focus .knapp__spinner {
    border-top-color: #0067c5;
    border-right-color: #0067c5;
}
.aktivitetsplanfs .knapp.knapp--hoved .knapp__spinner,
.aktivitetsplanfs .knapp.knapp--hoved:hover .knapp__spinner {
    border-top-color: #fff;
    border-right-color: #fff;
}
.aktivitetsplanfs .knapp.knapp--fare:focus .knapp__spinner {
    border-top-color: #ba3a26;
    border-right-color: #ba3a26;
}
.aktivitetsplanfs .knapp.knapp--fare .knapp__spinner,
.aktivitetsplanfs .knapp.knapp--fare:hover .knapp__spinner {
    border: 2px solid #fff;
    border-left-color: #efa89d;
    border-bottom-color: #efa89d;
}
.aktivitetsplanfs .knapp.knapp--flat:hover .knapp__spinner {
    border-top-color: #0067c5;
    border-right-color: #0067c5;
}
.aktivitetsplanfs .knapp:disabled .knapp__spinner,
.aktivitetsplanfs .knapp--disabled .knapp__spinner {
    border: 2px solid #fff;
    border-top-color: #f1f1f1;
    border-right-color: #f1f1f1;
}
.aktivitetsplanfs .knapp svg {
    width: 1rem;
    height: 1rem;
    fill: #0067c5;
}
.aktivitetsplanfs .knapp .nav-frontend-chevron + span:not(.sr-only),
.aktivitetsplanfs .knapp span:not(.sr-only) + .nav-frontend-chevron {
    margin-left: 0.33333rem;
}
.aktivitetsplanfs .knapp svg + span:not(.sr-only),
.aktivitetsplanfs .knapp span:not(.sr-only) + svg {
    margin-left: 0.5rem;
}
.aktivitetsplanfs .knapp > span {
    display: inline-block;
}
.aktivitetsplanfs .knapp:hover svg {
    fill: white;
}
.aktivitetsplanfs .knapp.knapp--flat:hover svg {
    fill: #0067c5;
}
.aktivitetsplanfs .knapp.knapp--fare:focus svg {
    fill: #ba3a26;
}
.aktivitetsplanfs .knapp:disabled:not(:focus) svg,
.aktivitetsplanfs .knapp.knapp--disabled:not(:focus) svg,
.aktivitetsplanfs .knapp.knapp--hoved:not(:focus) svg,
.aktivitetsplanfs .knapp.knapp--fare:not(:focus) svg {
    fill: white;
}
.aktivitetsplanfs .knapp:disabled:active svg,
.aktivitetsplanfs .knapp.knapp--disabled:active svg,
.aktivitetsplanfs .knapp.knapp--hoved:active svg,
.aktivitetsplanfs .knapp.knapp--fare:active svg,
.aktivitetsplanfs .knapp:disabled:hover svg,
.aktivitetsplanfs .knapp.knapp--disabled:hover svg,
.aktivitetsplanfs .knapp.knapp--hoved:hover svg,
.aktivitetsplanfs .knapp.knapp--fare:hover svg {
    fill: white;
}
.aktivitetsplanfs .knapp--hoved {
    color: white;
    border-color: #0067c5;
    background-color: #0067c5;
    position: relative;
    border-width: 1px;
}
.aktivitetsplanfs .knapp--hoved:hover {
    background-color: #0056b4;
    border-color: #0056b4;
}
.aktivitetsplanfs .knapp--hoved:hover.aktivitetsplanfs .knapp--hoved:focus {
    background-color: #0056b4;
    border-color: #0056b4;
    border-color: white;
}
.aktivitetsplanfs .knapp--hoved:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 0 3px #00347d;
}
.aktivitetsplanfs .knapp--hoved:active {
    background-color: #005b82;
    border-color: transparent;
    border-color: white;
}
.aktivitetsplanfs .knapp--hoved:hover.aktivitetsplanfs .knapp--hoved:focus.aktivitetsplanfs .knapp--hoved:active {
    background-color: #005b82;
    border-color: #005b82;
    border-color: white;
}
.aktivitetsplanfs .knapp--fare {
    color: white;
    border-color: #ba3a26;
    background-color: #ba3a26;
    position: relative;
    border-width: 1px;
}
.aktivitetsplanfs .knapp--fare:hover {
    background-color: #a32a17;
    border-color: #a32a17;
}
.aktivitetsplanfs .knapp--fare:hover.aktivitetsplanfs .knapp--fare:focus {
    background-color: #a32a17;
    border-color: #a32a17;
    border-color: white;
}
.aktivitetsplanfs .knapp--fare:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 0 0 3px #00347d;
}
.aktivitetsplanfs .knapp--fare:active {
    background-color: #881d0c;
    border-color: transparent;
    border-color: white;
}
.aktivitetsplanfs .knapp--fare:hover.aktivitetsplanfs .knapp--fare:focus.aktivitetsplanfs .knapp--fare:active {
    background-color: #881d0c;
    border-color: #881d0c;
    border-color: white;
}
.aktivitetsplanfs .knapp--flat {
    color: #0067c5;
    border: 2px solid transparent;
    background: transparent;
}
.aktivitetsplanfs .knapp--flat:hover:not(:disabled),
.aktivitetsplanfs .knapp--flat:focus:not(:disabled) {
    background-color: transparent;
    border: 2px solid #0067c5;
    color: #0067c5;
}
.aktivitetsplanfs .knapp--flat.aktivitetsplanfs .knapp--flat:active {
    background-color: #005b82;
    border: 2px solid transparent;
    color: #fff;
}
.aktivitetsplanfs .knapp--mini {
    padding: calc(0.25rem - 1px) 1.5rem calc(0.25rem - 1px) 1.5rem;
    min-height: 2rem;
}
.aktivitetsplanfs .knapp--kompakt {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.aktivitetsplanfs .knapp--kompakt.knapp--mini {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.aktivitetsplanfs .knapp__spinner {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    border-radius: 100%;
    animation: knapp__spinner 1s infinite linear;
    position: relative;
    margin-left: 0.5em;
    top: 0.1em;
}
