.aktivitetsplanfs .lenkemedikon-mixin svg {
    width: 1em;
    height: 1em;
    fill: #0067c5;
    stroke: #0067c5;
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}
.aktivitetsplanfs .lenkemedikon-mixin svg + span:not(.sr-only),
.aktivitetsplanfs .lenkemedikon-mixin span:not(.sr-only) + svg {
    margin-left: 0.25em;
}
.aktivitetsplanfs .lenkemedikon-mixin:focus svg {
    fill: white;
    stroke: white;
}
.aktivitetsplanfs .lenke {
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.aktivitetsplanfs .lenke:hover,
.aktivitetsplanfs .lenke--hover {
    text-decoration: none;
}
.aktivitetsplanfs .lenke:focus,
.aktivitetsplanfs .lenke--focus {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .lenke:active,
.aktivitetsplanfs .lenke--active {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .lenke svg {
    width: 1em;
    height: 1em;
    fill: #0067c5;
    stroke: #0067c5;
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}
.aktivitetsplanfs .lenke svg + span:not(.sr-only),
.aktivitetsplanfs .lenke span:not(.sr-only) + svg {
    margin-left: 0.25em;
}
.aktivitetsplanfs .lenke:focus svg {
    fill: white;
    stroke: white;
}
