.aktivitetsplanfs .lesMerPanel {
    background-color: #fff;
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
}
.aktivitetsplanfs .lesMerPanel--border {
    border: 1px solid #c9c9c9;
}
.aktivitetsplanfs .lesMerPanel__toggle {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.aktivitetsplanfs .lesMerPanel__togglelink {
    background: transparent;
    border: 0;
    padding: 0;
    color: #0067c5;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0.25rem;
}
.aktivitetsplanfs .lesMerPanel__togglelink:focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.aktivitetsplanfs .lesMerPanel__togglelink:hover .lesMerPanel__toggleChevron {
    transform: translateY(0.25rem);
}
.aktivitetsplanfs .lesMerPanel__toggleChevron {
    align-self: center;
    margin-top: 1rem;
}
.aktivitetsplanfs .lesMerPanel__togglelink--erApen {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 0.25rem;
}
.aktivitetsplanfs .lesMerPanel__togglelink--erApen .lesMerPanel__toggleChevron {
    margin-top: 0;
    margin-bottom: 1rem;
}
.aktivitetsplanfs .lesMerPanel__togglelink--erApen:hover .lesMerPanel__toggleChevron {
    transform: translateY(-0.25rem);
}
.aktivitetsplanfs .lesMerPanel__merContainer:focus {
    outline: none;
}
.aktivitetsplanfs .lesMerPanel__merContainer--medAnimasjon {
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transform: translate3d(0, 0, 0);
}
.aktivitetsplanfs .lesMerPanel__mer {
    padding-top: 1rem;
}
.aktivitetsplanfs .lesMerPanel__mer:focus {
    outline: none;
}
.aktivitetsplanfs .lesMerPanel__mer:empty {
    padding: 0;
}
