.aktivitetsplanfs .snakkeboble {
    display: flex;
}
.aktivitetsplanfs .snakkeboble__snakkeboble-pil-container {
    position: relative;
    width: 1.2rem;
    overflow: hidden;
    margin-top: 1rem;
}
.aktivitetsplanfs .snakkeboble--hoyre {
    flex-direction: row-reverse;
    margin-left: 3rem;
}
.aktivitetsplanfs .snakkeboble--venstre {
    flex-direction: row;
    margin-right: 3rem;
}
.aktivitetsplanfs .snakkeboble__snakkebole-pil {
    position: absolute;
    top: 1px;
    width: 1rem;
    height: 1rem;
    background: #fff;
    transform: rotate(54deg) skew(17deg);
}
.aktivitetsplanfs .snakkeboble--hoyre .snakkeboble__snakkebole-pil {
    right: 72%;
    box-shadow: 0 1px 4px 1px #c9c9c9;
}
.aktivitetsplanfs .snakkeboble--venstre .snakkeboble__snakkebole-pil {
    left: 72%;
    box-shadow: 0 2px 4px -1px #c9c9c9;
}
.aktivitetsplanfs .snakkeboble__ikon {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 2px;
}
.aktivitetsplanfs .snakkeboble--hoyre .snakkeboble__ikon {
    background: #368da8;
}
.aktivitetsplanfs .snakkeboble--venstre .snakkeboble__ikon {
    background: #134852;
}
.aktivitetsplanfs .snakkeboble-panel {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 #c9c9c9;
    padding: 0.5rem 1rem 1rem;
}
.aktivitetsplanfs .snakkeboble-panel__topp {
    margin-bottom: 0.5rem;
}
.aktivitetsplanfs .snakkeboble-panel__tekst {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}
.aktivitetsplanfs .snakkeboble--hoyre .snakkeboble-panel {
    text-align: right;
}
