.aktivitetsplanfs .tilbakeknapp {
    text-decoration: none;
    border-bottom: 0;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold {
    border-bottom: 0 !important;
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold:hover,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold--hover {
    text-decoration: none;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold:focus,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold--focus {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold:active,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold--active {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold svg {
    width: 1em;
    height: 1em;
    fill: #0067c5;
    stroke: #0067c5;
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold svg + span:not(.sr-only),
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold span:not(.sr-only) + svg {
    margin-left: 0.25em;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold:focus svg {
    fill: white;
    stroke: white;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold .chevronboks {
    top: -1px;
    margin-right: 0.75rem;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst {
    text-decoration: none;
    color: #0067c5;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst:hover,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst--hover {
    text-decoration: none;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst:focus,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst--focus {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst:active,
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst--active {
    outline: none;
    color: white;
    text-decoration: none;
    background-color: #00347d;
    box-shadow: 0 0 0 2px #00347d;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst svg {
    width: 1em;
    height: 1em;
    fill: #0067c5;
    stroke: #0067c5;
    vertical-align: middle;
    position: relative;
    top: -0.125em;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst svg + span:not(.sr-only),
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst span:not(.sr-only) + svg {
    margin-left: 0.25em;
}
.aktivitetsplanfs .tilbakeknapp .tilbakeknapp-innhold__tekst:focus svg {
    fill: white;
    stroke: white;
}
.aktivitetsplanfs .tilbakeknapp:focus {
    outline: none;
}
.aktivitetsplanfs .tilbakeknapp:focus .tilbakeknapp-innhold__tekst {
    background: #00347d;
    color: #fff;
}
