.aktivitetsplanfs .blokk {
    margin-bottom: 2rem;
}
.aktivitetsplanfs .blokk-null {
    margin-bottom: 0;
}
.aktivitetsplanfs .blokk-xxxs {
    margin-bottom: 4px;
}
.aktivitetsplanfs .blokk-xxs {
    margin-bottom: 0.5rem;
}
.aktivitetsplanfs .blokk-xs {
    margin-bottom: 1rem;
}
.aktivitetsplanfs .blokk-s {
    margin-bottom: 20px;
}
.aktivitetsplanfs .blokk-m {
    margin-bottom: 2rem;
}
.aktivitetsplanfs .blokk-l {
    margin-bottom: 2.5rem;
}
.aktivitetsplanfs .blokk-xl {
    margin-bottom: 4rem;
}
.aktivitetsplanfs .clearfix {
    *zoom: 1;
}
.aktivitetsplanfs .clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.aktivitetsplanfs .text-left {
    text-align: left;
}
.aktivitetsplanfs .blokk-center {
    margin: 0 auto;
}
.aktivitetsplanfs .unsafe-html *:last-child {
    margin-bottom: 0;
}
.aktivitetsplanfs .no-resize {
    resize: none;
}
.aktivitetsplanfs .clearfix {
    *zoom: 1;
}
.aktivitetsplanfs .clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.aktivitetsplanfs .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aktivitetsplanfs .pull-right {
    float: right !important;
}
.aktivitetsplanfs .pull-left {
    float: left !important;
}
.aktivitetsplanfs .hide {
    display: none !important;
}
.aktivitetsplanfs .show {
    display: block !important;
}
.aktivitetsplanfs .hidden {
    display: none !important;
}
.aktivitetsplanfs .invisible {
    visibility: hidden;
}
.aktivitetsplanfs .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.aktivitetsplanfs .max-width-300 {
    max-width: 300px;
}
.aktivitetsplanfs .ustilet {
    margin: 0;
    padding: 0;
    list-style: none;
}
