@import "../../../variables";

.navigasjonslinje {
  .blokk-s();
  display: flex;
  justify-content: flex-start;
  background: @hvit;
  border-radius: @border-radius-base;
  padding: 0.5rem 1rem;
}

.navigasjonslinje__element {
  color: @navMorkGra;
  text-decoration: none;
  margin-right: 1rem;

  &:hover {
    text-decoration: underline;
    color: @bla;
  }
}

.navigasjonslinje__element-content {
  margin-left: 0.25rem;

  &:empty {
    display: none;
  }
}

.navigasjonslinje-meny {
  margin-left: auto;
}
