@knapp-storrelse: 42px;
@full-desktop: 1480px;

.tavle {
    .tavle__scrollknapp {
        display: none;
        cursor: pointer;

        &:focus {
            outline: 0;
            box-shadow: 0 0 0 3px @fokus-farge;
        }

        &:disabled {
            cursor: default;
            color: @navGra40;
            border-color: @navGra40;

            &:hover {
                color: @navGra40;
                border: 0.1rem solid @navGra40;
                background-color: white;
            }
        }
    }

    .kolonner {
        display: block;
        padding-bottom: 2rem;
        min-height: 300px;
    }
}

@media (min-width: @screen-sm-min) {
    .tavle {
        &.aktivitetstavle {
            width: @container-sm;
            margin: 0 auto;
        }

        .knapp-forrige {
            margin: 1rem 0.5rem 0 0;
            transform: rotate(180deg);

            &:hover,
            &:disabled,
            &:hover:disabled {
                transform: rotate(180deg);
            }
        }

        .knapp-forrige-ikon {
            margin-left: 0.12rem;
        }

        .knapp-neste {
            margin: 1rem 0 0 0.5rem;
        }

        .knapp-neste-ikon {
            margin-left: 0.1rem;
        }
    }
}

@media (min-width: @screen-md-min) {
    .tavle {
        display: flex;
        justify-content: space-around;

        &.aktivitetstavle {
            width: @screen-md-min;
            margin: 0 auto;
        }

        .kolonner {
            display: flex;
            justify-content: space-between;
            transition: margin 0.2s ease-in-out;
            margin-bottom: 0;
        }

        .tavle__scrollknapp {
            height: @knapp-storrelse;
            width: @knapp-storrelse;
            display: flex;
            align-items: center;
            border-radius: 100%;
            border: 0.1rem solid;
            font-size: 2rem;
            background: none;

            &:hover,
            &:active,
            &:active:hover {
                background-color: @navGra80;
                border: 0;
                color: white;
            }
        }

        .tavle-kolonne {
            min-width: 31.33333%;
            margin: 1%;
        }
    }
}

@media (min-width: @full-desktop) {
    .tavle {
        &.aktivitetstavle {
            width: 100%;
        }

        .tavle__scrollknapp {
            .hide();
        }

        .tavle-kolonne {
            min-width: 18%;
        }
    }
}
