@import '../../variables';

.mitt-maal {
    background-color: @navLysBlaLighten80;
    margin-bottom: 1rem;
    border-bottom: hidden;
    padding: 1rem;
    width: 100%;
    display: inline-block;
}

.mittmal__illustrasjon {
    max-width: 12%;
    max-height: 12%;
    display: inline;
    float: left;
}

.mittmal_content {
    display: inline;
    float: left;
    margin-top: 0.5rem;
    margin-left: 1rem;
    max-width: 80%;
    max-height: 12%;
    text-decoration: none;
    color: @navMorkGra;
}
