.etikett {
    padding: 0.05rem 0.5rem 0.15rem;
    margin-right: 0.5rem;
    white-space: nowrap;

    .typo-normal {
        font-size: 0.8rem;
    }

    &--ok {
        background-color: @navGronnLighten60;
    }

    &--varsling {
        background-color: @orangeFocusLighten20;
    }

    &--info {
        background-color: @navLysBlaLighten60;
    }

    &--avtalt {
        background-color: @navDypBla;
        color: @white;
    }

    &--eskalering {
        background-color: @redErrorLighten60;
    }

    &--ikkebehandlet {
        background-color: @navLillaLighten60;
    }

    &--mabesvares {
        background-color: @navLimeGronnLighten60;
    }

    & + .etikett {
        margin-top: 2px;
    }
}
