.aktivitetsplanprint {
    display: block;
}
.aktivitetsplanprint .printmodal-header {
    width: 100%;
    position: relative;
}
.aktivitetsplanprint .printmodal-header__tilbakeknapp + .printmodal-header__printknapp {
    margin-left: calc(50% - 120px);
}
.aktivitetsplanprint .printmodal-header__tilbakeknapp[hidden] + .printmodal-header__printknapp {
    margin-left: 0;
}
.aktivitetsplanprint .modal-header-wrapper {
    background-color: var(--gray-background);
}
.aktivitetsplanprint .printmodal-body__utskrift--overskrift {
    margin: 0 3rem 1rem;
}
.aktivitetsplanprint .printmodal-body {
    background-color: var(--white);
    padding: 2rem 0 3rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__adresse-dato {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem 3rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__adresse-dato .printmodal-body__dato {
    text-align: right;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__visprintmelding,
.aktivitetsplanprint .printmodal-body .printmodal-body__vismittmal {
    margin: 0 3rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__visprintmelding:empty,
.aktivitetsplanprint .printmodal-body .printmodal-body__vismittmal:empty {
    display: none;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__visprintmelding + .statusgruppe,
.aktivitetsplanprint .printmodal-body .printmodal-body__visprintmelding + .printmodal-body__vismittmal {
    margin-top: 2rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__vismittmal {
    margin-bottom: 2rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__nav-logo-print {
    margin: 0 3rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper {
    padding: 2rem 3rem;
    border-top: 1px solid var(--gray-foreground);
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__statusgruppe {
    margin: 2rem 0;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__statusgruppe:last-child {
    margin: 0;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__statusgruppe .henvendelse {
    margin-bottom: 0.5rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__visprintmelding--overskrift,
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__vismittmal--overskrift,
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__statusgruppe--overskrift {
    margin-bottom: 1rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__dialog {
    margin-bottom: 1rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgrupper .printmodal-body__dialog .henvendelse {
    margin-bottom: 0.5rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__statusgruppe--type {
    margin: 0.25rem 0;
}
.aktivitetsplanprint .printmodal-body .etikett-print {
    background: none;
    color: var(--gray-text);
    border: 1pt solid var(--gray-foreground);
    margin-bottom: 1rem;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer {
    margin-top: 0;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer + .aktivitetsdetaljer {
    margin-top: 20px;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer .detaljfelt {
    display: inline-block;
    width: calc(50% - 2rem);
    margin-bottom: 0;
    padding-bottom: 0.75rem;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer .detaljfelt--fullbredde {
    width: 100%;
    margin-right: 0;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer .detaljfelt--fullbredde:last-child {
    margin-bottom: 0;
}
.aktivitetsplanprint .printmodal-body .aktivitetsdetaljer .detaljfelt__lenke {
    text-decoration: none;
    border-bottom: 0;
    color: var(--gray-text);
    cursor: default;
}
.aktivitetsplanprint .printmodal-body .aktivitetsbeskrivelse {
    padding-bottom: 1rem;
}
.aktivitetsplanprint .printmodal-body .aktivitetsbeskrivelse + .aktivitetsbeskrivelse {
    margin-top: 1rem;
}
.aktivitetsplanprint .printmodal-body .printmodal-body__aktivitetreferat {
    margin: -0.25rem 0 0.5rem;
}
.aktivitetsplanprint .printmodal-body__nav-logo-print {
    width: 80px;
    margin-bottom: 1.5rem;
}
.aktivitetsplanprint .feilmelding--systemfeil {
    background-color: var(--white);
    margin: 0;
    padding: 1rem;
}
.aktivitetsplanprint .printmelding__form {
    background-color: var(--white);
    padding-top: 1.5rem;
}
.aktivitetsplanprint .printmelding__skjema {
    margin: 0 3rem 1rem;
}
.aktivitetsplanprint .printmelding__skjema .kvp-plan-valg {
    padding-left: 26px;
}
.aktivitetsplanprint .printmelding__skjema .kvp-periode-valg {
    padding-top: 0.5rem;
}
.aktivitetsplanprint .printmelding__skjema .radioknapp + .skjemaelement__label:before {
    margin-top: 4px;
}
.aktivitetsplanprint .printmelding__tittel {
    margin-bottom: 1rem;
}
.aktivitetsplanprint .printmelding__knapperad {
    padding: 1.2rem 3rem 1.5rem;
    border-top: 1px solid var(--gray-foreground);
    margin-top: 2rem;
}
@media print {
    @page {
        size: auto;
        margin: 5%;
    }
    * {
        line-height: 1 !important;
    }
    body,
    .aktivitetsplanfs {
        font-size: 16pt;
    }
    .ReactModal__Overlay {
        position: relative;
    }
    .aktivitetsplanprint {
        overflow: visible;
    }
    .modal-header,
    .lukknapp {
        display: none;
    }
    .aktivitetsdetaljer {
        page-break-inside: avoid;
    }
}
