/*
---------------
FARGER
---------------
*/
/*
---------------
BREKKPUNKTER
---------------
*/
/*
--------------
CONTAINER
--------------
*/
/*
---------------
GRID
---------------
*/
.deleCVEndreTittel {
    padding-right: 1rem;
}
.deleCVTittelSvarTekst {
    padding-right: 1rem;
}
.deleCVSvarTekst {
    margin-top: 1rem;
}
.infoStripe {
    margin-top: 1rem;
}
.endretTidspunkt {
    margin-top: 0.5rem;
    color: var(--grey-inactive);
}
