.etikett {
    color: var(--gray-foreground);
    display: flex;
    justify-content: flex-end;
}
.svarPaaVegneAvBruker .label {
    font-weight: normal;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.feil .etikett {
    color: var(--red-error);
}
.feil .panel {
    border-color: var(--red-error);
    box-shadow: 0 0 0 1px var(--red-error);
}
.panel {
    padding-bottom: 0 !important;
}
