@import "../../../variables";

.aktivitetmal {
  text-align: left;

  &__modal .modal-header {
    margin: 0 !important;
  }

  &__tekst {
    .blokk-m();
    white-space: pre-wrap;
  }

  &__delelinje {
    margin: 0;
    border: 0;
    border-bottom: 1px solid @color-hr;
  }

  &__innhold {
    padding: 1rem;

    p:not(.textarea--medMeta__teller) {
      margin-top: 0;
    }
  }

  &__redigering--knapp {
    margin-right: 1rem;
  }

  &__historikk {
    .blokk-s();

    &-skrevetav {
      font-weight: bold;

      & span:first-child:after {
        content: ' ';
      }
    }

    &-tekst {
      .blokk-s();
      white-space: pre-wrap;
    }
  }
}
