@import '../../variables';

.aktivitetskort {
  display: block;
  background-color: @color-background;
  padding: 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  margin-bottom: 10px;
  color: @gray-text;
  width: 284px;
  border-radius: 4px;

  &--flyttbar {
    cursor: pointer;

    &:hover {
      background-color: @color-background-hover;
    }
    &:focus {
      border-color: @orange-focus;
    }
  }

  &__blokk {
    margin: 0;
    padding: 0.75rem;
    position: relative;

    & > * {
      margin: 0;
    }
  }

  &__henvendelser {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    padding: 0.5rem 0.5rem 0.5rem 1.25rem;
    background: url("./aktivitetskort-henvendelser.svg") no-repeat left bottom;
  }

  &__delelinje {
    margin: 0;
    border: 1px solid @color-hr;
  }

  // Overskriver nav-frontend
  &__tittel {
    .blokk-xs() !important;
  }

  &__type {
    text-transform: uppercase;
  }

  &__ikon-blokk {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  &__etiketter {
    display: inline-flex;
  }
}
