@import "./feil/feil";
@import "./navigasjonslinje/navigasjonslinje";
@import "./mal/aktivitetsmal";
@import "./tavle/tavle";
@import "./tavle/aktivitetstavle";

.hovedsideinnhold {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: @gray-background;

  & .container {
    & .lenkeknapp {
     float: right;
    }
  }
}

/* nav-frontend-overrides */
.container {
  @media (min-width: 1200px){
    max-width: 63rem;
  }
}

.fullbredde {
  width: 100%;
}
