@import "../../variables";

.navigasjonslinje {
  .blokk-s();

  display: flex;
  justify-content: flex-start;
  background: @hvit;
  border-radius: .25rem;
  padding: 1rem;

  &__element {
    color: @navMorkGra;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
      color: @bla;
    }

    &-content {
      &:empty{
        display: none;
      }
      margin-left: 0.25rem;
    }
  }
}
