.endreVisning {
    display: flex;
    align-items: baseline;
}
@media all and (max-width: 465px) {
    .endreVisning {
        flex-wrap: wrap;
        row-gap: 5px;
    }
}
.endreContainer {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: white;
    padding: 1rem;
    margin-bottom: 3px;
    color: #3e3832;
    border: none;
    text-align: left;
}
@media (min-width: 992px) {
    .endreContainer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.endreContainer:focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
@media (pointer: fine) {
    .endreContainer:hover * {
        text-decoration: underline;
    }
}
.endreForm {
    padding: 0.2rem 1rem 1rem 1rem;
}
@media (min-width: 992px) {
    .endreForm {
        padding: 0.2rem 2rem 1rem 2rem;
    }
}
.endreKnapp {
    margin-left: auto;
    white-space: nowrap;
    color: var(--bla);
}
.endreKnappInnhold {
    display: inline-block;
    padding-right: 2px;
}
.endreIndikasjonApen {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}
.endreIndikasjonApen::before,
.endreIndikasjonApen::after {
    transition: 200ms transform;
    border-radius: 10px;
}
.endreIndikasjonApen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.endreIndikasjonApen::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.endreIndikasjonApen::before {
    transform: translateX(2px) rotate(45deg);
}
.endreIndikasjonApen::after {
    transform: translateX(-2px) rotate(-45deg);
}
.endreIndikasjonLukket {
    display: inline-block;
    flex-shrink: 0;
    height: 2px;
    line-height: 2px;
    width: 20px;
    position: relative;
    text-align: center;
    transition: 200ms transform;
    vertical-align: middle;
}
.endreIndikasjonLukket::before,
.endreIndikasjonLukket::after {
    transition: 200ms transform;
    border-radius: 10px;
}
.endreIndikasjonLukket::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.endreIndikasjonLukket::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: currentColor;
}
.endreIndikasjonLukket::before {
    transform: translateX(2px) rotate(-45deg);
}
.endreIndikasjonLukket::after {
    transform: translateX(-2px) rotate(45deg);
}
