.datovelger {
    margin-bottom: 1rem !important;
}
.harFeil input:nth-child(1):not(:focus):not(:hover):not(:active) {
    border-color: var(--red-error);
    box-shadow: 0 0 0 1px var(--red-error);
}
