@nodeModulesPath: './../../';
@coreModulePath: './../../';
@aktivitetsplanPath: ".";

.aktivitetsplanfs {
  @import "./main";

  // hentet fra nav-frontend-typografi som setter dette direkte på body
  .typo-normal-mixin();
  color: @navMorkGra;
  font-family: @font-family;
  line-height: @line-height-base;
}
