.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-circle {
    border-radius: 50%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
[role='button'] {
    cursor: pointer;
}
/*
What is this?
@-ms-viewport {
    width: device-width;
}*/
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.aktivitetsplanfs {
    /* Beholdes i kode for å unngå breaking change */
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-text);
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.42857143;
}

.aktivitetsplanfs .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
.aktivitetsplanfs .ReactCollapse--collapse {
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes knapp__spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.aktivitetsplanfs .panel {
    background-color: var(--white);
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
}
.aktivitetsplanfs .panel--stor {
    background-color: var(--white);
    display: block;
    border-radius: 4px;
    padding: 1.25rem 1rem 1.25rem 1rem;
}
.aktivitetsplanfs .panel--border {
    border: 1px solid #c9c9c9;
}
.aktivitetsplanfs .ReactModal__Body--open {
    overflow: hidden;
}
.aktivitetsplanfs .modal {
    background-color: var(--white);
    display: block;
    position: relative;
    flex-grow: 0;
    max-height: 100%;
    margin-bottom: 0;
    z-index: 1010;
    overflow: auto;
    border-radius: 0;
    padding: 0;
}
.aktivitetsplanfs .modal:focus,
.aktivitetsplanfs .modal--focus {
    box-shadow: 0 0 0 3px #00347d;
    outline: none;
}
.aktivitetsplanfs .modal__overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 56, 49, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.aktivitetsplanfs .modal__overlay:active .modal:not(:active) .modal__lukkknapp--shake {
    transform: rotate(10deg);
    transition: transform 100ms cubic-bezier(0.82, -2, 1, 0.3);
}
.aktivitetsplanfs .modal__lukkknapp--shake {
    transform: rotate(0deg);
    transition: transform 100ms cubic-bezier(0.82, 2, 1, 0.3);
}
.aktivitetsplanfs .modal-container .varselmodal {
    padding: 1rem 2rem;
}
.aktivitetsplanfs .modal-container .aktivitetskjema {
    padding: 1rem 2rem;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__redigering-header {
    display: flex;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__header {
    margin-bottom: 4rem;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__header .skjema-header__pakrevd-info {
    align-self: flex-end;
    float: right;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__header .typo-innholdstittel {
    margin: 0.5rem 0 1.2rem;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__datofelt-wrapper {
    display: flex;
    justify-content: space-between;
}
.aktivitetsplanfs .modal-container .aktivitetskjema__datofelt,
.aktivitetsplanfs .modal-container .aktivitetskjema .datovelger {
    font-size: 1rem;
}
.aktivitetsplanfs .modal-footer {
    display: flex;
    border-top: 1px solid var(--gray-foreground);
    padding: 1.7rem 2rem;
}
.aktivitetsplanfs .modal-footer__knapp {
    flex: 0 0 7.8rem;
}
.aktivitetsplanfs .modal-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    border-bottom: 1px solid var(--gray-foreground);
    padding: 1.13rem 1rem;
}
.aktivitetsplanfs .modal-header-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
.aktivitetsplanfs .modal-header-wrapper + .feilmelding {
    margin-top: 1rem;
    padding: 0 2rem;
}
.aktivitetsplanfs .modal-header-skillestrek {
    width: 37px;
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--gray-text);
    height: 26px;
}
.aktivitetsplanfs .ReactModal__Content {
    width: 100%;
    min-height: 100%;
    margin: 0;
}
.aktivitetsplanfs .ReactModal__Content .aktivitetskjema {
    width: 100%;
}
.aktivitetsplanfs .ReactModal__Content .aktivitetskjema__datofelt-wrapper {
    flex-direction: column;
}
.aktivitetsplanfs .modal__overlay {
    display: block;
    padding: 0;
}
.aktivitetsplanfs .aktivitet-modal-portal {
    z-index: 9999;
}
.aktivitetsplanfs .aktivitet-modal-portal .aktivitet-modal {
    position: relative;
    border: 1px solid var(--gray-foreground);
    outline: none;
}
.aktivitetsplanfs .aktivitet-modal-portal .aktivitet-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.74902);
}
.aktivitetsplanfs .timeout-modal-portal {
    z-index: 10000;
}
.aktivitetsplanfs .timeout-modal-portal .aktivitet-modal {
    position: relative;
    border: 1px solid var(--gray-foreground);
    outline: none;
}
.aktivitetsplanfs .timeout-modal-portal .aktivitet-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.74902);
}
@media (min-width: 992px) {
    .aktivitetsplanfs .modal {
        max-height: none;
        overflow: visible;
        padding: 0;
        border-radius: 3px;
    }
    .aktivitetsplanfs .ReactModal__Body--open {
        overflow: hidden;
    }
    .aktivitetsplanfs .ReactModal__Overlay {
        overflow-y: auto;
    }
    .aktivitetsplanfs .ReactModal__Content {
        width: 640px;
        margin: 4rem auto;
        min-height: inherit;
    }
    .aktivitetsplanfs.aktivitet-modal-portal {
        z-index: 9999;
    }
    .aktivitetsplanfs.aktivitet-modal-portal .aktivitet-modal {
        position: relative;
        border: 1px solid var(--gray-foreground);
        outline: none;
    }
}
.aktivitetsplanfs .mote-aktivitet-form__velg-mote-klokkeslett {
    display: flex;
    justify-content: space-between;
}
.aktivitetsplanfs .mote-aktivitet-form__velg-mote-klokkeslett .input--xs {
    width: 85px;
}
@media (max-width: 560px) {
    .aktivitetsplanfs .mote-aktivitet-form__velg-mote-klokkeslett {
        flex-direction: column;
    }
}
.aktivitetsplanfs .mote-aktivitet-form__video-info {
    margin-bottom: 1rem;
}
.aktivitetsplanfs .mote-aktivitet_husk_bruker {
    margin-bottom: 2rem;
}
.aktivitetsplanfs .samtalereferat-form__lagre-og-publiser {
    margin-right: 1rem;
}
.aktivitetsplanfs .skjema-header__tittel {
    margin: 1.2rem 0;
    line-height: 1.1;
}
.aktivitetsplanfs .dato-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}
.aktivitetsplanfs .dato-container .skjemaelement__feilmelding {
    width: 100%;
    max-width: 210px;
    width: 210px;
}
.aktivitetsplanfs .enhet-veileder-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aktivitetsplanfs .radio-container {
    display: flex;
    flex-direction: column;
}
.aktivitetsplanfs .skjemaelement__label {
    margin-bottom: 0.25em;
}
.aktivitetsplanfs .input--m {
    width: 210px;
}
.aktivitetsplanfs .aktivitetskjema__lagre-knapp {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-top: 1px var(--gray-foreground) solid;
}
.aktivitetsplanfs .feedbacksummary {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: var(--red-error);
    color: var(--white);
    list-style-position: inside;
}
.aktivitetsplanfs .feedbacksummary ul {
    margin: 0;
    padding-left: 0;
}
.aktivitetsplanfs .feedbacksummary h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}
.aktivitetsplanfs .feedbacksummary a {
    color: var(--white);
    border-bottom: 1px solid var(--white);
    text-decoration: none;
}
.aktivitetsplanfs .feedbacksummary a:focus {
    outline: none;
    background-color: #00347d;
    color: var(--gray-text);
    border-bottom: 1px solid #00347d;
}
.aktivitetsplanfs .feedbacksummary:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}
.aktivitetsplanfs .varsling-boks {
    margin-top: 1rem;
}
.aktivitetsplanfs .avtalt-container {
    margin: 1rem 0;
}
.aktivitetsplanfs .avtalt-container__vis-avtalt {
    display: flex;
    align-items: center;
}
.aktivitetsplanfs .avtalt-container .alertstripe--info {
    margin-bottom: 1rem;
}
.aktivitetsplanfs .avtalt-container .alertstripe--info:first-child {
    margin-top: 1rem;
}
.aktivitetsplanfs .aktivitetingress {
    margin-bottom: 2rem;
}
.aktivitetsplanfs .aktivitetingress__tekst {
    white-space: pre-wrap;
    margin: -0.4rem 0;
}
.aktivitetsplanfs .publiser-referat {
    padding: 2rem;
}
.aktivitetsplanfs .oppfolgingstatus__krr {
    width: 800px;
    margin: 0 auto;
}
.aktivitetsplanfs .feil-container {
    max-width: 40rem;
}
.aktivitetsplanfs .har-ikke-aktivitetsplan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aktivitetsplanfs .har-ikke-aktivitetsplan-advarsel {
    margin: 0 0.5rem;
    max-width: 40rem;
}
.aktivitetsplanfs .sett-digital {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aktivitetsplanfs .sett-digital__varsel {
    margin: 0 0.5rem;
    margin-bottom: 20px;
    max-width: 40rem;
}
@media (min-width: 992px) {
    .aktivitetsplanfs .hovedsideinnhold {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}

.aktivitetsplanfs .informasjon-modal-container {
    padding: 1rem 2rem;
}
.aktivitetsplanfs .videotekst-accordion {
    margin-bottom: 1rem;
}
.aktivitetsplanfs .informasjon-modal-container .ekspanderbartPanel {
    margin-top: 1rem;
}
.aktivitetsplanfs .modal-a11y-wrapper {
    background-color: var(--gray-background);
}
.aktivitetsplanfs .aktivitetsplan {
    width: 100%;
}
.aktivitetsplanfs .radioknapp + label:before {
    top: 3px;
}
.aktivitetsplanfs .selectContainer {
    background: none;
}
.aktivitetsplanfs .lukknapp:before,
.aktivitetsplanfs .lukknapp:after {
    height: 2px;
    top: calc(50% - 2px);
}
.aktivitetsplanfs .alertstripe:not(.alertstripe--solid) .alertstripe__ikon:after {
    background-color: var(--white);
}
.aktivitetsplanfs .row + .alertstripe {
    margin-top: 0.5rem;
}
.aktivitetsplanfs .status-alert {
    margin: 1rem 0;
}
.aktivitetsplanfs .status-alert .alertstripe {
    margin: 1rem 0;
}
.aktivitetsplanfs .skjemaelement__input.textarea--medMeta {
    padding: 0.35rem;
}
.aktivitetsplanfs .softbreak {
    word-break: break-word;
    display: block;
}
.aktivitetsplanfs .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    *zoom: 1;
}
.aktivitetsplanfs .container:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.aktivitetsplanfs .container:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
@media (min-width: 768px) {
    .aktivitetsplanfs .container {
        width: 736px;
    }
}
@media (min-width: 992px) {
    .aktivitetsplanfs .container {
        width: 890px;
    }
}
.aktivitetsplanfs .hjelpetekst {
    margin-left: 1rem;
}
.ReactModal__Body--open {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}
.ReactModal__Body--open .aktivitetsplanfs:not([class*='timeout-modal']):not([class*='aktivitet-modal']) {
    display: none;
}
@media (min-width: 992px) {
    .ReactModal__Body--open .aktivitetsplanfs:not([class*='timeout-modal']):not([class*='aktivitet-modal']) {
        display: block;
    }
    .container,
    .hovedsideinnhold div.feil-container {
        width: 890px;
        margin: 0 auto;
    }
}
@media (min-width: 1480px) {
    .aktivitetsplan-wrapper {
        padding: 0 0.5rem;
        max-width: 1920px;
        margin: 0 auto;
    }
    .container,
    .hovedsideinnhold div.feil-container {
        width: 956px;
        margin: 0 auto;
    }
}
