@import './variables';

@full-desktop: 1480px;

@import '~nav-frontend-core/less/core';

.aktivitetsplanfs {
    @import './vendors';
    @import './felles-komponenter/modal/modal';
    @import './felles-komponenter/felles-komponenter';
    @import './utils';
    @import './moduler/aktivitet/aktivitet';
    @import './moduler/filtrering/filter';
    @import './moduler/verktoylinje/Verktoylinje';
    @import './moduler/oppfolging-status/oppfolging-status';
    @import './moduler/oppfolging-status/har-ikke-aktivitetsplan-advarsel';
    @import './moduler/aktiver-digital-oppfolging/aktiver-digital-oppfolging';
    @import './hovedside/hovedside';
    @import './moduler/utskrift/aktivitetsplanprint';
    @import './moduler/informasjon/informasjon';

    .typo-normal-mixin();
    color: @navMorkGra;
    font-family: @font-family;
    line-height: @line-height-base;

    .modal-a11y-wrapper {
        background-color: @gray-background;
    }

    .aktivitetsplan {
        width: 100%;
    }

    .radioknapp + label:before {
        top: 3px;
    }

    .selectContainer {
        background: none;
    }

    .lukknapp {
        &:before,
        &:after {
            height: 2px;
            top: ~'calc(50% - 2px)';
        }
    }

    .alertstripe:not(.alertstripe--solid) .alertstripe__ikon:after {
        background-color: @white;
    }

    .row + .alertstripe {
        margin-top: 0.5rem;
    }

    .status-alert {
        margin: 1rem 0;

        .alertstripe {
            margin: 1rem 0;
        }
    }

    .skjemaelement__input.textarea--medMeta {
        padding: 0.35rem;
    }

    .softbreak {
        word-break: break-word;
        display: block;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
        .clearfix();
        @media (min-width: @screen-sm-min) {
            width: @container-sm;
        }

        @media (min-width: @screen-md-min) {
            width: 890px;
        }
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
        .clearfix();
        box-sizing: border-box;
    }

    .col-xs-4 {
        position: relative;
        min-height: 1px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .hjelpetekst {
        margin-left: 1rem;
    }
}

.ReactModal__Body--open {
    .aktivitetsplanfs {
        // Compensate for scrollbar appearing when opening modal
        margin-right: 15px;
    }

    .aktivitetsplanfs:not([class*='timeout-modal']):not([class*='aktivitet-modal']) {
        display: none;
    }
}

@media (min-width: @screen-md-min) {
    .ReactModal__Body--open {
        .aktivitetsplanfs:not([class*='timeout-modal']):not([class*='aktivitet-modal']) {
            display: block;
        }
    }

    .container,
    .hovedsideinnhold div.feil-container {
        width: 890px;
        margin: 0 auto;
    }
}

@media (min-width: @full-desktop) {
    .aktivitetsplan-wrapper {
        padding: 0 0.5rem;
        max-width: 1920px;
        margin: 0 auto;
    }

    .container,
    .hovedsideinnhold div.feil-container {
        width: 956px;
        margin: 0 auto;
    }
}

@media print {
    .ReactModal__Body--open {
        // position: relative;
    }

    .aktivitetsplanfs [href]:after {
        content: none;
    }

    .hodefot,
    .navno-dekorator,
    .decorator-wrapper,
    .pagewrapper[aria-hidden='true'],
    .appContainer[aria-hidden='true'],
    .veilarbpersonflatefs[aria-hidden='true'] {
        display: none;
    }
}

body {
    margin: 0;
}
