@import './variables';

@full-desktop: 1480px;

.aktivitetsplanfs {
    @import './vendors';
    @import 'felles-komponenter/modal/modal';
    @import './felles-komponenter/felles-komponenter';
    @import './utils';
    @import './dialog/dialog';
    @import './moduler/aktivitet/aktivitet';
    @import './moduler/filter/filter';
    @import './moduler/verktoylinje/verktoylinje';
    @import './moduler/varslinger/varslinger';
    @import './moduler/vilkar/vilkar';
    @import './moduler/sidebanner/sidebanner';
    @import './moduler/oppfolging-status/oppfolging-status';
    @import './moduler/innstillinger/innstillinger';
    @import './moduler/aktiver-digital-oppfolging/aktiver-digital-oppfolging';
    @import './sider/hovedside/hovedside';
    @import './moduler/arbeidsliste/arbeidsliste';

    .typo-normal-mixin();
    color: @navMorkGra;
    font-family: @font-family;
    line-height: @line-height-base;

    .pagewrapper {
        background-color: @gray-background;
    }

    .aktivitetsplan {
        width: 100%;
    }

    .radioknapp + label:before {
        top: 3px;
    }

    .lukknapp {
        &:before,
        &:after {
            height: 2px;
            top: ~'calc(50% - 2px)';
        }
    }
}

.ReactModal__Body--open {
    overflow: hidden;
}

@media (min-width: @screen-md-min) {
    .container {
        width: 890px;
    }
}

@media (min-width: @full-desktop) {
    .aktivitetsplan-wrapper {
        padding: 0 3.5rem;
    }

    .container {
        width: 956px;
    }
}
