@import './variables';

.aktivitetsplanfs {
  @import './moduler/vilkar/vilkar';
  @import './moduler/sidebanner/sidebanner';
  @import './moduler/oppfolging-status/oppfolging-status';
  @import './vendors';
  @import './modal/modal';
  @import './utils';
  @import './dialog/dialog';
  @import './moduler/filter/filter';
  @import './moduler/verktoylinje/verktoylinje';
  @import './moduler/varslinger/varslinger';
  @import './felles-komponenter/felles-komponenter';
  @import './sider/hovedside/hovedside';

  .typo-normal-mixin();
  color: @navMorkGra;
  font-family: @font-family;
  line-height: @line-height-base;

  .pagewrapper {
    background-color: @gray-background;
  }

  .aktivitetsplan {
    width: 100%;
  }

  .aktivitetsplan-wrapper {
    padding: 0 3.5rem;
  }

  .radioknapp + label:before {
    top: 3px;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}
