.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.text-left {
    text-align: left;
}
.blokk-center {
    margin: 0 auto;
}
.unsafe-html *:last-child {
    margin-bottom: 0;
}
.no-resize {
    resize: none;
}
.spinner {
    display: block;
    margin: 1rem auto;
}
.clearfix {
    *zoom: 1;
}
.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.max-width-300 {
    max-width: 300px;
}
.ustilet {
    margin: 0;
    padding: 0;
    list-style: none;
}
.blokk {
    margin-bottom: 2rem;
}
.blokk-null {
    margin-bottom: 0;
}
.blokk-xxxs {
    margin-bottom: 4px;
}
.blokk-xxs {
    margin-bottom: 0.5rem;
}
.blokk-xs {
    margin-bottom: 1rem;
}
.blokk-s {
    margin-bottom: 20px;
}
.blokk-m {
    margin-bottom: 2rem;
}
.blokk-l {
    margin-bottom: 2.5rem;
}
.blokk-xl {
    margin-bottom: 4rem;
}
