@import "~nav-frontend-core/less/_variabler";
@import "~nav-frontend-core/less/core";
@import "~nav-frontend-knapper-style/src/index";

@hvit: @white;
@red-error: @redError;
@gray-background: @grayBackground;
@orange-focus: @orangeFocus;
@gray-icon: @grayIcon;
@gray-inactive: @grayInactive;
@gray-text: @navMorkGra;
@blue-active: @navDypBla;
@red-nav: @navRod;
@color-background-hover: #eee;
@color-background: @white;

@color-type: @gray-inactive;

@color-hr: #efefef;

