.sidebanner {
    width: 100%;
    background-color: @navLysBlaLighten60;
    border-bottom: 3px solid @navLysBlaLighten20;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 1rem;

    &__illustrasjon {
        display: none;
        margin-bottom: 2.5rem;
    }

    &__tittel {
        margin-bottom: 1rem;
    }
}

@media (min-width: @screen-md-min) {
    .sidebanner__illustrasjon {
        display: inline;
        flex: 0 0 3.75rem;
    }
}
