.verktoylinje {
    &__verktoy {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
            padding-left: 0.5rem;
        }
    }
}

@media (min-width: @screen-md-min) {
    .verktoylinje {
        display: flex;
        justify-content: space-between;

        &__verktoy {
            &:last-child {
                margin-bottom: auto;
            }
        }
    }
}
