.verktoylinje {
    &__verktoy {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        .dropdown {
            margin-bottom: 0;
        }
    }

    .dropdown .dropdown__btn {
        padding: 0.7rem 5.6rem 0.7rem 2rem;
    }

    &__verktoy-container {
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .knappelenke {
            margin-right: 1rem;
            margin-bottom: 1rem;

            span {
                border: 0;
                font-weight: bolder;
            }
        }

        .aktivitetskort__henvendelser {
            width: 9rem;
            margin: 0 auto 0.5rem auto;
            position: relative;
            padding: 0.5rem 1rem 1rem 1.3rem;
            top: -9px;
            right: -27px;

            .knappelenke {
                text-transform: uppercase;
                position: relative;
                top: 0.5rem;
                left: 0.5rem;
            }
        }

        .lenkeknapp {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        .navigasjonslinje-meny__knapp--print {
            position: relative;
            top: 6px;
        }

        .verktoylinje__verktoy {
            width: auto;
        }
    }

    &__verktoy-container:nth-child(2) {
        display: flex;
        align-items: baseline;
    }

}

@media (min-width: @screen-md-min) {

    .verktoylinje {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        &__verktoy {
            width: auto;
            margin-right: 1rem;

            &:last-child {
                margin-bottom: 0;
                margin-right: 0;
            }
        }

        &__verktoy-container {
            display: flex;

            .navigasjonslinje-meny__knapp--print,
            .knappelenke {
                margin-right: 1rem;
            }

            .aktivitetskort__henvendelser {
                margin: 0;
            }

            .lenkeknapp {
                width: initial;
            }

        }

    }
}
