name: deploy feature branch
run-name: Deploy feature branch ${{ github.ref_name }} by @${{ github.actor }}
on:
  workflow_dispatch:

concurrency:
  group: deploy-feature-branch
  cancel-in-progress: true

jobs:
  dev-ekstern:
    name: Deploy to dev extern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@CDN
    with:
      kommando: npm run build-ekstern-dev
      bucket: aktivitetsplan-dev
      releaseName: dev-ekstern
      naisfile: dev-ekstern
      cluster: dev-gcp
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}

  dev-intern:
    name: Deploy application to dev intern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@CDN
    with:
      kommando: npm run build-intern-dev
      bucket: aktivitetsplan-dev-intern
      releaseName: dev-intern
      naisfile: dev-intern
      cluster: dev-gcp
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}
      NAIS_DEPLOY_APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
