name: deploy dev og prod
on:
  push:
    branches:
      - main
  workflow_dispatch:

description: "Deploy to all environments"

concurrency:
  group: deploy
  cancel-in-progress: true

jobs:
  dev-ekstern:
    name: Deploy to dev extern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build:dev-ekstern
      bucket: aktivitetsplan-dev
      releaseName: dev-ekstern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

  dev-intern:
    name: Deploy application to dev intern
    uses: navikt/aktivitetsplan/.github/workflows/deploy-intern.yml@main
    with:
      kommando: npm run build:dev-intern
      bucket: aktivitetsplan-dev-intern
      cdnEnv: cdn.dev.nav.no

  prod-ekstern:
    name: Deploy application to prod ekstern
    needs: dev-ekstern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build:prod-ekstern
      bucket: aktivitetsplan-prod
      releaseName: prod-ekstern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_PROD }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

  prod-intern:
    name: Deploy application to prod intern
    needs: dev-intern
    uses: navikt/aktivitetsplan/.github/workflows/deploy-intern.yml@main
    with:
      kommando: npm run build:prod-intern
      bucket: aktivitetsplan-prod-intern
      cdnEnv: cdn.nav.no
