name: deploy feature branch
run-name: Deploy feature branch ${{ github.ref_name }} by @${{ github.actor }}
on:
  workflow_dispatch:

concurrency:
  group: deploy-feature-branch
  cancel-in-progress: true

jobs:
  dev-ekstern:
    name: Deploy to dev extern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@aksel-2 # TODO: Remove this when merging branch
    with:
      kommando: npm run build:dev-ekstern
      bucket: aktivitetsplan-dev
      releaseName: dev-ekstern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}

  dev-intern:
    name: Deploy application to dev intern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@aksel-2 # TODO: Remove this when merging branch
    with:
      kommando: npm run build:dev-intern
      bucket: aktivitetsplan-dev-intern
      releaseName: dev-intern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}
