name: GCP root

on:
  workflow_call:
    inputs:
      kommando:
        required: true
        type: string
      bucket:
        required: true
        type: string
      NAIS_MANAGEMENT_PROJECT_ID:
        required: true
        type: string
    secrets:
      SENTRY_AUTH_TOKEN:
        required: false
      READER_TOKEN:
        required: true
      NAIS_WORKLOAD_IDENTITY_PROVIDER:
        required: true

jobs:
  deploy:
    name: Deploy to GCP-bucket
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run tests
        run: npm run test
      - name: Build application
        run: ${{ inputs.kommando }}
      - name: Gcloud auth
        uses: google-github-actions/auth@v2
        with:
          project_id: ${{ inputs.NAIS_MANAGEMENT_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0
      - name: Upload files to GCS
        run: gsutil -m rsync -r build "$BUCKET"
        env:
          BUCKET: gs://${{ inputs.bucket }}
      - name: Create sentry release
        uses: getsentry/action-release@v1
        if: inputs.bucket == 'aktivitetsplan-prod'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: nav
          SENTRY_PROJECT: aktivitetsplan
          SENTRY_URL: https://sentry.gc.nav.no/
        with:
          environment: prod
          sourcemaps: './build'
          url_prefix: '~'
