name: GCP root

on:
  workflow_call:
    secrets:
      READER_TOKEN:
        required: true
      SLACK_WEBHOOK:
        required: false
    inputs:
      kommando:
        required: true
        type: string
      bucket:
        required: true
        type: string
jobs:
  deploy:
    name: Deploy application to CDN
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'
    steps:
      - uses: actions/checkout@v5
      - name: Install pnpm - setup node - install deps
        uses: ./.github/actions/setup-pnpm
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run tests
        run: pnpm run test
      - name: Build application
        run: ${{ inputs.kommando }}
      - name: Upload to CDN
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: dab
          source: ./build/
          destination: /${{ inputs.bucket }}/
      - name: Set special cache for asset-manifest.json
        shell: bash
        run: |
          gcloud storage objects update gs://${BUCKET_NAME}/dab/${{ inputs.bucket }}/build/asset-manifest.json --cache-control="public, max-age=120, stale-while-revalidate=7200, stale-if-error=600"
      - name: Slack Notification (deploy failure)
        if: failure() && inputs.bucket == 'aktivitetsplan-prod-intern'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: danger
          SLACK_USERNAME: Github Actions
          SLACK_ICON: https://github.com/github.png?size=48
          SLACK_TITLE: 'Aktivitetsplan: deploy til bucket for interne brukere feilet'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'Commit-message til feilende deploy: ${{ github.event.head_commit.message }}'
