name: deploy feature branch
run-name: Deploy feature branch ${{ github.ref_name }} by @${{ github.actor }}
on:
  workflow_dispatch:

concurrency:
  group: deploy-feature-branch
  cancel-in-progress: true

permissions:
  contents: 'read'
  id-token: 'write'
  packages: 'write'

jobs:
  dev-ekstern:
    name: Deploy to dev extern
    uses: ./.github/workflows/deploy-ekstern.yml
    with:
      kommando: pnpm run build:dev-ekstern
      bucket: aktivitetsplan-dev-ekstern
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
  dev-intern:
    name: Deploy application to dev intern
    uses: ./.github/workflows/deploy-intern.yml
    with:
      kommando: pnpm run build:dev-intern
      bucket: aktivitetsplan-dev-intern
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
