name: deploy dev og prod
on:
  push:
    branches:
      - main

concurrency:
  group: deploy
  cancel-in-progress: true

env:
  PRINT_PAYLOAD: true
  TZ: Europe/Amsterdam
  CI: true

jobs:
  dev-ekstern:
    name: Deploy to dev extern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build-ekstern-dev
      bucket: aktivitetsplan-dev
      releaseName: dev-ekstern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}

  dev-intern:
    name: Deploy application to dev intern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build-intern-dev
      bucket: aktivitetsplan-dev-intern
      releaseName: dev-intern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_DEV }}

  prod-ekstern:
    name: Deploy application to prod ekstern
    needs: dev-ekstern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build-ekstern-prod
      bucket: aktivitetsplan-prod
      releaseName: prod-ekstern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_PROD }}

  prod-intern:
    name: Deploy application to prod intern
    needs: dev-intern
    uses: navikt/aktivitetsplan/.github/workflows/gcp-root.yml@main
    with:
      kommando: npm run build-intern-prod
      bucket: aktivitetsplan-prod-intern
      releaseName: prod-intern
    secrets:
      GCS_SA_KEY: ${{ secrets.GCS_SA_KEY_PROD }}
