name: GCP root

on:
  workflow_call:
    inputs:
      kommando:
        required: true
        type: string
      bucket:
        required: true
        type: string
    secrets:
      SENTRY_AUTH_TOKEN:
        required: false
      READER_TOKEN:
        required: true
      SLACK_WEBHOOK:
        required: false

jobs:
  setup-env:
    name: Install pnpm - setup node - install deps
    uses: ./.github/workflows/setup-env.yml
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
  deploy:
    name: Deploy to GCP-bucket
    runs-on: ubuntu-latest
    steps:
      - name: Run tests
        run: pnpm run test
      - name: Build application
        run: ${{ inputs.kommando }}
      - name: Upload to CDN
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: dab
          source: ./build/
          destination: /${{ inputs.bucket }}/
          no_cache_paths: ${{ inputs.bucket }}/build/index.html
      - name: Create sentry release
        uses: getsentry/action-release@v1
        if: inputs.bucket == 'aktivitetsplan-prod'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: nav
          SENTRY_PROJECT: aktivitetsplan
          SENTRY_URL: https://sentry.gc.nav.no/
        with:
          environment: prod
          sourcemaps: './build'
          url_prefix: '~'

      - name: Slack Notification (deploy failure)
        if: failure() && inputs.bucket == 'aktivitetsplan-prod'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: danger
          SLACK_USERNAME: Github Actions
          SLACK_ICON: https://github.com/github.png?size=48
          SLACK_TITLE: 'Aktivitetsplan: deploy til bucket for eksterne brukere feilet'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_MESSAGE: 'Commit-message til feilende deploy: ${{ github.event.head_commit.message }}'
