name: GCP root

on:
  workflow_call:
    inputs:
      kommando:
        required: true
        type: string
      bucket:
        required: true
        type: string
      releaseName:
        required: true
        type: string
    secrets:
      GCS_SA_KEY:
        required: true

jobs:
  deploy:
    name: Deploy application to dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Build application
        run: ${{ inputs.kommando }}
      - name: Gcloud auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GCS_SA_KEY }}'
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0
      - name: Upload files to GCS
        run: gsutil -m rsync -r build "$BUCKET"
        env:
          BUCKET: gs://${{ inputs.bucket }}
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release/dev/${{inputs.releaseName}}@${{ github.sha }}
          release_name: ${{ inputs.releaseName }}
          prerelease: true
