name: GCP dev

on:
  push:
    paths-ignore:
      - '.github/workflows/pto-frontend-container.yml'
      - 'nais-q-gcp.yaml'
      - 'nais-q-intern-gcp.yaml'
  workflow_dispatch:

concurrency:
  group: gcp_dev
  cancel-in-progress: true

jobs:
  deploy-dev:
    name: Deploy application to dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Build application
        run: npm run build
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCS_SA_KEY_DEV }}
          export_default_credentials: true
      - name: Upload files to GCS
        run: gsutil -m rsync -r build gs://aktivitetsplan-dev
      - name: Upload files to GCS (intern)
        run: gsutil -m rsync -r build gs://aktivitetsplan-dev-intern
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release/dev@${{ github.sha }}
          release_name: Release to dev
          prerelease: true
