name: Publish gh-pages

on:
    push:
        branches:
            - main
    workflow_dispatch:
env:
    CI: true
    TZ: Europe/Oslo

permissions:
  contents: write

jobs:
    setup-env:
      name: Install pnpm - setup node - install deps
      uses: ./.github/workflows/setup-env.yml
      secrets:
        READER_TOKEN: ${{ secrets.READER_TOKEN }}
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Build
              run: pnpm run build:gh-pages
            - name: Deploy
              if: success()
              uses: crazy-max/ghaction-github-pages@v2
              with:
                  jekyll: false
                  build_dir: build
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
