name: Format
on: [workflow_dispatch]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Format
        run: |
          npm ci
          npm run format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4.6.0
        with:
          commit_user_name: Prettier bot
          commit_message: Apply formatting changes
          branch: ${{ github.head_ref }}
