name: Test on push/workflow_dispatch

on: [push, workflow_dispatch]

env:
  PRINT_PAYLOAD: true

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup-pnpm
        name: Install pnpm - setup node - install deps
        with:
          READER_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: pnpm run test
      - run: pnpm run build
