name: Test

on: [push, workflow_dispatch]

env:
  PRINT_PAYLOAD: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://npm.pkg.github.com"
          cache: 'npm'
      - run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: sjekk feil

        run: |
          curl -H "Authorization: Bearer $NODE_AUTH_TOKEN" 'https://api.github.com/rate_limit'
      - run: npm run test
      - run: npm run build
