name: Test

on: [push, workflow_dispatch]

env:
  PRINT_PAYLOAD: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: "https://npm.pkg.github.com"
          cache: 'pnpm'
      - run: pnpm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: pnpm run test
      - run: pnpm run build
