@import '../../../../variables';

.avtalt-container {
    &__radio {
        display: flex;
        padding-bottom: 5px;
    }

    &__vis-avtalt {
        display: flex;
        align-items: center;
    }
}
